body {
    font-family:"Raleway"; 
    padding-left: 2%;
    padding-right: 2%;
    width: 1400px;
}

/* Header début */
header {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}

header nav {
    display: flex;
    align-items: center;
}
header img {
    width: 75px;
    height: auto;
    margin-top: 12px;
}
nav ul {
    display: flex;
    list-style-type: none;
}
nav li a {
    text-decoration: none;
    color: #000;
    padding: 35px;
}

header nav li a:active {
    color: #0065fc;
    border-top: 3px #0065fc solid;
}

nav li a:hover {
    border-top: 3px #0065fc solid;
    color:#0065fc;    
}

/* Header fin */

/* Recherche début */

.main p {
    font-size: 20px;
}

.search {
    margin-top: 35px;
}

.search form {
    display: flex;
    height: 50px;
    
}
.localisation {
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
}
.input-search {
    width: 240px;
    font-size: 20px;
    font-weight: bolder;
    color: #000;
    border: 2px solid #F2F2F2;
    padding: 20px;
}

.fa-money-bill-wave:before {
    color: #0065fc;
}

.fa-male:before, .fa-person:before {
    color: #0065fc;
}

.fa-heart:before {
    color: #0065fc;
}

.fa-dog:before {
    color: #0065fc;
}

.fa-chart-line:before, .fa-line-chart:before {
    color: #0065fc;
}

.fa-info:before {
    color: #0065fc;
}

.btn-search {
    width: 150px;
    color: #fff;
    background: #0065fc;
    font-size: 20px;
    border-radius: 0 21px 21px 0;
    border: none;
}

.mobile {
    display: none;
}

.filter {
    display: flex;
    align-items: center;
    margin-top: 40px; 
    width: 200px;
}

.filter h2 {
    margin-right: 30px;
    font-weight: bolder;
}
.filter-list {
    display: flex;
    align-items: center;
    gap: 25px;
}

.filter-list>* {
    display: flex;
    align-items: center;
    margin-right: 20px;
    border: 2px solid #D9D9D9;
    padding: 15px;
    border-radius: 30px 30px 30px 30px;
}

.filter-list span {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;
    color: #000;
    font-size: 17px;
    gap: 15px;
    -webkit-text-stroke-width: thin;
}

.filter-list>*:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.filter-list img {
    
    margin-left: 5px;
}

.note {
    display: flex;
    align-items: center;
    margin-top: 30px; 
    margin-bottom: 25px;
}

.note span {
    display:flex;
    align-items: center;
    border: 2px solid #DEEBFF;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    font-size: 20px;
    margin-right: 15px;
}


.note p {
    font-weight: 300;
}

.fa-2xs {
    margin-left: 10px;
}

/* hosting */

.container {
    display: flex;
    gap: 40px;
    justify-content: space-around;
}

.container .hosts {
    /*  */
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;

}

.hosting-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #F2F2F2;
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.container .hosts h4 {
    display: flex;
    font-weight: bolder;
    margin-bottom: 20px;
    padding-left: 25px;
    font-size: 27px;
}

.container .hosts article {
    background-color: #fff;
    padding: 2px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 0 16px #0000002e;
    flex: 0 0 250px;
    margin: 20px;
}

.container .hosts article:hover {
    transform: scale(1.1);
    transition: 0.1s;
    transition-duration: 0.6s;
}

.container .hosts img {
    object-fit: cover;
    width: 230px;
    height: 135px;
    border-radius: 20px 20px 0px 0px;
    padding: 2px;
    background-color: #fff;
}

.container-text {
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    -webkit-text-stroke-width: thin;
}

.container .hosts p {
    background-color: #fff;
    padding-left: 10px;
    margin: 5px;
}


.host-text {
    font-size: 15px;
    font-weight: bolder;
}


.container-text img {
    width: 12px;
    height: 12px;
    margin-left: -10px;
}



.show-more {
    margin-left: 25px;
    margin-top: 25px;
    font-size: larger;
    font-weight: 900;
}

/* popular */

/* .fa-chart-line {
    margin: 53px;
} */

.populars {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.divpopulars {
     border-radius: 15px 15px 15px 15px;
     background-color: #F2F2F2;
}

.fa-chart-line:before, .fa-line-chart:before {
    display: flex;
    justify-content: end;
    margin-top: 2.8em;
}

.populars h4 {
    font-size: 27px;
    margin-left: 50px;
}

.populars-title {
    display: flex;
    justify-content: space-between;
    margin-right: 2em;
}

.populars-title img {
    margin: 42px;
    height: 20px;
    width: auto;
}


.popular-cards {  
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    width: 100%;
    padding-left: 50px;
}
.popular-cards article {
    width: 80%;
    margin-bottom: 35px;
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    height: 175px;
}

.popular-cards article:hover {
    transform: scale(1.1);
    transition: 0.1s;
    transition-duration: 0.6s;
}

.popular-cards img {
    object-fit: cover;
    width: 40%;
    height: auto;
    border-radius: 15px 0px 0px 15px;
    margin: 5px;
    cursor: pointer;
   
}

.popular-texts {
    display: flex;
    flex-direction: column;
    border-radius: 25px 25px 25px 25px;
    -webkit-text-stroke-width: thin;
}

.popular-text {
    width: 80%;
    font-weight: bolder;
    font-size: 23px;
    margin-left: 10px;
}

.popular-description {
    margin-bottom: 55px;
    margin-top: -5px;
    font-size: 16px;
    margin-left: 10px;
}

.popular-texts img {
    width: 12px;
    height: 12px;
    margin-top: 40px;
    margin-left: -10px;
}

.rating-bar {
    margin-top: -20px;
    margin-left: 10px;
}

.rating-bars {
     margin-left: 15px;
    margin-bottom: 10px;
}

.fa fa-star {
    font-size: 15px;
}



.fifth {
    color: #F2F2F2;
}

.checked {
    color: #0065fc;
}


.cards {
    display: flex;
    align-items: center;

}

/* ACTIVITES */

.activity {
    margin-top: 20px;
    display: flex;
}

.activity .activity-cards {
    width: 100%;
}

.activity .activity-cards .container-activity-cards {
    display: flex;
    max-width: fit-content;
    background-color: #fff;
    border-radius: 20px;
}

.activity .activity-cards .container-activity-cards article {
    background: #fff;
    border-radius: 2em;
    box-shadow: 0 0 16px #0000002e;
    margin: 25px;
    width: 25%;
}

.activity .activity-cards .container-activity-cards article:hover {
    transform: scale(1.1);
    transition: 0.4s;
    transition-duration: 0.8s;
}

.activity .activity-cards .container-activity-cards article .activity-image img {
    width: 100%;
    height: 390px;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}


.activity .activity-cards .container-activity-cards article h4 {
    margin: 6%;
    font-size: 15px;
    -webkit-text-stroke-width: thin;
}

.activity-cards h1 {
    margin-left: 25px;
}

/* FOOTER */
footer {
    background: #F2F2F2;
    display: flex;
}

footer .footer {
    display: flex;
    max-width: 100%;
    width: 90%;
    margin: auto;
    padding: 0 2rem;
    line-height: 1.5rem;
    font-weight: 200;
}

footer .footer #about, #hosts, #help {
    width: 30%;
    padding: 2rem 2rem;
}

footer ul {
    list-style-type: none;
}


footer #about a, #hosts a, #help a {
    padding: 0;
    margin: 0;    
    text-decoration: none;
}

footer #about h3, #hosts h3, #help h3 {
    margin-left: 2.4rem;
}

.footer-text {
        margin-bottom: 10px;
}


/* Responsive */

@media screen and (max-width: 992px) {
    body {
        width: 992px;
    }

    header img {
        width: 75px;
        height: auto;
    }

    .fa-2xs {
        width: 70px;
    }

    .filter-list>* {
        border: 2px solid #D9D9D9;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container .hosts {
        width: 100%;
        padding: 0px;
    }

    .container .hosts img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .hosts h4 {
        padding-left: 25px !important;
    }

    .popular-cards {
        display: flex;
        padding-left: 0;
        justify-content: space-evenly;
    }

    .populars {
        padding-left: 2%;
        padding-right: 2%;
    }

    .populars h4 {
        margin-left: 30px;
    }

    .populars h2 {
        padding-left: 0px;
        margin-left: 30px;
    }

    .populars-title {
        margin-right: 2em !important;
    }

    .container .populars article {
        padding: 0px;
        height: auto;
    }

    .container .popular-texts p {
        font-size: 15px;
    }

    .popular-texts .rating-bar {
        margin-top: auto;
        margin-left: 10px;
        margin-bottom: 10px;
    }


    .popular-cards article {
        width: 30%;
    }

    .popular-cards img {
        height: 150px;
    }

    .popular-description {
        margin-bottom: 0px;
    }

    .fa-chart-line:before, .fa-line-chart:before {
        display: flex;
        justify-content: end;
        margin-top: 2.8em;
    }
    
    .activity img {
        height: 220px !important;
    }

    .show-more {
        margin-bottom: 20px;
    }

    footer {
        background-color: #F2F2F2;
    }

    .footer-text {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 768px) {
    picture {
        width: 130px;
    }

    body {
        width: 768px;
        margin: 0px;
        padding: 0%;
    }

    .btn-search {
        display: none;
    }

    .mobile {
        display: block;
    }

    .fa-magnifying-glass {
        color: white !important;
        width: 50px;
    }

    header {
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }

    header li {
        align-self: flex-end;
    }

    header img {
        width: 80%;
        height: auto;
        margin-left: 20px;
        
    }

    nav {
        width: 75px;
        height: auto;
        
    }

    .filter-list>* {
        border: 4px solid #D9D9D9;
    }

    #host {
        width: 50%;
        display: flex;
        justify-content: center;
        font-size: 20px;
    }

    #activity {
        width: 50%;
        display: flex;
        justify-content: center;
        font-size: 20px;
        
    }

    nav ul {
        padding-left: 0px;
        width: 100%;
    }

    #host {
        font-size: 30px;
    }

    #activity {
        font-size: 30px;
    }

    header nav {
        width: 108%;
    }

    nav li a {
        display: flex;
        justify-content: center;
        width: 100%;
        border-bottom: #F2F2F2 solid 3px;
    }

    header nav li a:active {
        border-top: none !important;
        color: #0065fc;
        border-bottom: 3px #0065fc solid;
    }


    nav li a:hover { 
        border-top: none;
        color: #0065fc;  
        border-bottom: 3px #0065fc solid;  
    }

    .main p {
        font-size: 30px;
        margin-left: 40px;
    }

    .main h1 {
        display: flex;
        justify-content: center;
        font-size: 50px;
        font-weight: bolder;
        margin-left: 40px;
        margin-bottom: 30px;
        -webkit-text-stroke-width: thin;
    }

    .search {
        margin-top: 70px;
    }

    .search img {
        width: 85%;
        margin-left: 4px;
    }

    .localisation {
        width: 5%;
        padding: 38px;
        border-radius: 40px 0px 0px 40px;
    }

    .input-search {
        width: 60%;
        padding: 35px;
        font-size: 40px;
    }

    .btn-search {
        border-radius: 0 40px 40px 0;
        font-size: 45px;
        width: 15%;
    }

    .main form {
        justify-content: center;
        height: 110px;
        margin-right: 10px;
        margin-left: 40px;
    }

    /* filtre */

    .filter {
        display: flex;
        align-items: baseline;
        margin-top: 40px;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .filter h2 {
        margin-left: 30px;
        font-size: 45px;
        -webkit-text-stroke-width: thin;
        
    }

    .filter .filter-list {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        width: inherit;
        gap: 20px;
    }

    .filter-list img {
        width: 35px;
        
    }

     .btn-search mobile {
        color: #D9D9D9;
    }

    .filter-list span {
        width: 80%;
        height: 60px;
        font-size: 25px;
        font-weight: 900;
        border-radius: 55px 55px 55px 55px;
    }

    .note span {
        height: 55px;
        width: 57px;
        border: 3px solid #D9D9D9;
        margin-left: 40px;
        margin-block-end: inherit;
    }

    .note img {
        margin: 23px;
        width: 15px;
    }

    .fa-info:before {
        margin-left: 12px;
        font-size: xx-large
    }
        
    /* container */

    .populars-title img {
        width: 35px;
        height: 30px;
        margin-left: 0em !important;
    }

    .populars h4 {
        font-size: 45px;
        font-weight:bolder;
        margin-left: 10px;
        -webkit-text-stroke-width: thin;
    }
    
    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .divpopulars {
        display: flex;
        justify-content: center;
        width: 104%;
        border-radius: 0px 0px 0px 0px;
    }

    .populars {
        display: flex;
        justify-content: center;
        width: 90%;
    }

    .popular-cards img {
        width: 32%;
        height: 240px;
        border-radius: 35px 0px 0px 35px;
        margin: 7px;
    }

    .popular-cards article {
        width: auto;
        border-radius: 40px 40px 40px 40px;
        box-shadow: 0 0 16px #0000002e;
    }

    .popular-texts p {
        font-size: 30px !important;
        padding-left: 10px;
        -webkit-text-stroke-width: thin;
    }

    .popular-texts .rating-bar {
        margin-left: 20px;
        -webkit-text-stroke-width: thick;
        
    }


    .popular-cards {
        display: flex;
        flex-direction: column;
    }

    .show-more {
        display: none;
    }
    
    .fa-star::before {
        font-size: x-large;
    }

    .fa-chart-line:before, .fa-line-chart:before {
        display: flex;
        justify-content: end;
        margin-top: 2.8em;      
        font-size: xx-large
    }

    /* host */
    .hosts {
        background-color: white !important;
    }

    .hosts p {
        -webkit-text-stroke-width: thin;
        font-size: 30px;
        padding: 10px;
    }

    .hosts article {
        -webkit-text-stroke-width: thick;
    }

    .hosts img {
        height: 285px !important;
    }

    .hosting-cards {
        grid-template-columns: none;
        background-color: #fff;
        width: 100%;
        justify-content: stretch;
        margin-left: 15px;
    }

    .hosts h4 {
        margin-top: 0px;
        font-size: 45px !important;
        -webkit-text-stroke-width: thin;
    }

    /* activity */

    .activity-cards h1 {
        margin-left: 45px;
        font-size: 45px;
        width: 30%;
        -webkit-text-stroke-width: thin;
    }
    
    .container-activity-cards {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: inherit !important;
        margin-left: 30px;

    }

    .container-activity-cards article {
        width: 98% !important;
        
    }
    
    .activity-image img {
        height: 300px !important;
        
    }

    .activity-cards h4 {
        font-size: 30px !important;
        margin: 4% !important;
    }


    /* footer */

    footer {
    width: 104%;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    #help {
        width: 100%;
        font-size: x-large;
    }

    #about {
        width: 100% !important;
        font-size: x-large;
    }

    #hosts {
        width: 100% !important;
        font-size: x-large;
    }

    .footer-text {
        margin-bottom: 20px;
    }


    
}
