/* * {
    margin: 0;
    padding: 0; 
} */
body {
    font-family:"Raleway"; 
    padding-left: 2%;
    padding-right: 2%;
    /* width: 1400px; */
}

/* Header début */
header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    /* align-items: center; */
}

header nav {
    display: flex;
    align-items: center;
}
header img {
    width: 90px;
    height: 50px;
    margin-top: 12px;
}
nav ul {
    display: flex;
    list-style-type: none;
}
nav li a {
    text-decoration: none;
    color: #000;
    padding: 35px;
}

header nav li .active, a:active {
    color: #0065fc;
    border-top: 3px #0065fc solid;
}

nav li a:hover {
    border-top: 3px #0065fc solid;
    color:#0065fc;    
}

/* Header fin */

/* Recherche début */

.main p {
    font-size: 20px;
}

.search {
    margin-top: 35px;
}

.search form {
    display: flex;
    height: 50px;
    
}
.localisation {
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
}
.input-search {
    width: 240px;
    font-size: 20px;
    font-weight: bolder;
    color: #000;
    border: 2px solid #F2F2F2;
    padding: 20px;
}

.btn-search {
    width: 150px;
    color: #fff;
    background: #0065fc;
    font-size: 20px;
    border-radius: 0 21px 21px 0;
    border: none;
}

.filter {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.filter h2 {
    margin-right: 30px;
    font-weight: bolder;
}
.filter-list {
    display: flex;
    align-items: center;
}

.filter-list>* {
    display: flex;
    align-items: center;
    margin-right: 50px;
    border: 3px solid #F2F2F2;
    padding: 15px;
    border-radius: 30px 30px 30px 30px;  
}

.filter-list span {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
    font-weight: bolder;
    color: #000;
    font-size: 20px;
}

.filter-list>*:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.note {
    display: flex;
    align-items: center;
    margin-top: 30px; 
    margin-bottom: 25px;
}

.note span {
    display:flex;
    align-items: center;
    border: 2px solid #DEEBFF;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    font-size: 20px;
    margin-right: 15px;
}

.note img {
     margin: 8px;
}
.note p {
    font-size: 18px;
}

/* hosting */

.container {
    display: flex;
    gap: 20px
}

.hosts {
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;

}


.hosting-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
    grid-auto-rows: minmax(100px, auto);
    margin: 30px;
    background-color: #F2F2F2;
}
.hosts h4 {
    display: flex;
    font-weight: bolder;
    margin-bottom: 20px;
    padding-left: 25px;
    font-size: 20px;
}

.hosts article {
    display: flex;
    flex-direction: column;
    border-radius: 25px 25px 25px 25px;
}

.hosts img {
    width: 230px;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
    background-color: #fff;
}

.container-text {
    background-color: #fff;
    border-radius: 0 0 15px 15px;
}

.hosts p {
    background-color: #fff;
    padding-left: 10px;
    margin: 5px;
}


.host-text {
    
    font-weight: bolder;
}


.container-text img {
    width: 12px;
    height: 12px;
    margin-left: -10px;
}

#first-star {
    margin-left: 10px
}
/* popular */

.divpopulars {
     width: 100%;
     border-radius: 15px 15px 15px 15px;
     background-color: #F2F2F2;
}
.populars h4 {
    padding: 10px;
    font-size: 20px;
    margin-left: 15px;
}


.popular-cards {
    margin: 10px;
}
.popular-cards article {
    margin-bottom: 35px;
    display: flex;
    background-color: #fff;
    border-radius: 20px;
}

.popular-cards img {
    width: 200px;
    height: 140px;
    border-radius: 15px 0px 0px 15px;
    margin: 5px;
   
}

.popular-texts {
    padding-left: 15px;
    border-radius: 25px 25px 25px 25px;
}

.popular-texts img {
    width: 12px;
    height: 12px;
    margin-top: 40px;
    margin-left: -10px;
}

/* #first-star-popular {
    margin-left: 10px;
} */

/* étoiles */

.rating-bars {
    margin-left: 15px;
    margin-bottom: 5px;
}

.fa fa-star {
    font-size: 15px;
}

.rating-bar {
    margin-top: 50px;
}


.fifth {
    color: #F2F2F2;
}

.checked {
    color: #0065fc;
}



.cardss {
    display: flex;
    align-items: center;

}

.cards {
    float: left;
    width: 33.33%;
    padding: 5px;
}